# Auto detect text files and perform LF normalization
* text=auto

# Enforce Unix LF line endings for shell scripts and Docker files
*.sh text eol=lf
Dockerfile text eol=lf
*.json text eol=lf
*.php text eol=lf
*.sql text eol=lf
